# SATA Active Link Power Management
# be aware of somone who has nothing to lose
ACTION=="add", SUBSYSTEM=="scsi_host", KERNEL=="host*", ATTR{link_power_management_policy}="max_performance"
